<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">이름</th>
        <th scope="col">소속당</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>

        <tr data-link="<%= user_path(user) %>">
          <th scope="row"><%= user.name %></th>
          <td><%= user.party %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
  <%= paginate @users, outer_window: 2 %>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
