<style>
  .page-footer {
    background-color: #0057B7;
  }
</style>
<footer class="page-footer font-small teal pt-4 mt-5 text-white">
  <!-- Footer Text -->
  <div class="container-fluid text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 mt-md-0">
        <h6 class="font-weight-bold">모든 국민은 자신들의 수준에 맞는 정부를 가진다.</h6>
        <p>무턱대고 뽑기 전에 잠깐, 점검하고 가세요.</p>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->
  <div class="footer-copyright py-1">
    <p class="text-white mb-5">no.fact.no.vote@gmail.com으로 제보를 받는 중입니다:)</p>
    © 2020 Copyright:
    <p class="text-white">경영학과 독수리 3명 (**배, **현, **근)</p>
  </div>
</footer>
