<style>
  .page-footer {
    background-color: #0057B7;
  }
</style>
<footer class="page-footer font-small teal pt-4 mt-5 text-white">
  <!-- Footer Text -->
  <div class="container-fluid">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 mt-md-0">
        <h6><a href="http://policy.nec.go.kr/" class="font-weight-bold text-white">※자세한 선거공보를 보시려면 클릭!</a></h6>
        <%= link_to "※제보하시려면 클릭!", new_contact_path, class: "font-weight-bold text-white" %>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->
  <div class="footer-copyright py-1 mt-4">
    © 2020 Copyright:
    <p class="text-white">경영학과 독수리 3명 (**배, **현, **근)&nbsp;&nbsp;<br><small>그리고 노어노문</small>(**표)</p>
  </div>
</footer>
