<style>
  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #0057B7;
  }

  #keyword-input {
    border-radius: 25px;
  }

  .link {
    float: left;
    display: inline;
  }

</style>


<div class="container mt-4">
  <h5>Do not vote without fact</h5>
  <h6 class="mb-4", style="color: #0057B7">무턱대고 뽑기 전에 잠깐, 점검하고 가세요.</h6>
  <p style="color: #0057B7">지금까지 방문한 유권자 수: <%= number_with_delimiter(Ahoy::Visit.count) %>명</p>
  <h6 class="text-muted mt-4">*UI와 가독성을 고려해 모든 후보자를 담진 못했습니다.</h6>
  <h6 class="text-muted">*중구,서구 등의 지역구이신 경우 지역명을 붙여주세요!</h6>
  <h6 class="text-muted">ex) 광주 서구, 부산 중구</h6>

  <span class="link mt-4 ml-2"><a id="vote-search" style="color: #0057B7" href="http://info.nec.go.kr/bizcommon/popup/popup_search_sg_emd.xhtml?electionId=0020200415">※ 내 지역구를 확인하려면 클릭!</a></span>
  <%= form_tag(root_path, method: :get, remote: true, class: "mt-5") do %>
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback mt-2"></span>
      <input type="search" name="keyword" class="form-control border border-primary" placeholder="지역구 혹은 국회의원의 이름을 적으세요" id="keyword-input">
    </div>
    <button type="submit" class="btn btn vote-color text-white mb-4" style="width: 25%; background-color: #0057B7">팩트체크</button>
  <% end %>
  <div class="row" id="filter">
    <%= render 'home/district_filter', district: @district %>
    <%= render 'home/congress_filter', congress: @congress %>
  </div>
</div>
