<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>제보자 이메일: <%= @email %></p>
    <p>국회의원: <%= @congress_name %></p>
    <p>소속당: <%= @congress_party %></p>
    <p>제보내용: <%= @body %></p>
    <p>
  </body>
</html>
