/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

#wrapper {
  min-height: 100%;
  position: relative;
}

.vote-color {
  width: 25%; background-color: #808080;
}
.style-one {
  margin-top: 0.15rem;
  margin-bottom: 0.6rem;
  background-color: white;
  border: 1px solid;
}
.small-title {
  magin-bottom: 0;
}
.card-group {
  border-radius: 20px;
}
#modal-pop {
  background-color: #696969;
  opacity: 0.85;
  border-radius: 25px;
}
.modal-content {
  width: 80%;
}
.fact_check {
  color: yellow;
}
